# Node modules
/node_modules
/.pnpm-store
/.corepack

# Environment variables
.env
.env.local
.env.*
!.env.example

# IDE files
/.idea/

# Compilation output
/dist

# Hardhat build artifacts
/artifacts

# Hardhat cache
/cache

# Type generation
/types

# Coverage output
/coverage
